{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Docker 1.12.1 Swarm Cluster Template.",
  "Parameters": {
    "KeyName": {
      "Description": "Name of an existing EC2 KeyPair to enable SSH access to the instance",
      "Type": "AWS::EC2::KeyPair::KeyName",
      "ConstraintDescription": "must be the name of an existing EC2 KeyPair."
    },
    "NumberOfSwarmNodes": {
      "Description": "Number of Swarm Nodes (default: 1)",
      "Type": "Number",
      "Default": 1,
      "MinValue": 1,
      "MaxValue": 4
    },
    "NumberOfSwarmManagers": {
      "Description": "One Swarm Manager will always exist. This field refers to additional Swarm Managers (default: 0)",
      "Type": "Number",
      "Default": 0,
      "MinValue": 0,
      "MaxValue": 4
    }
  },
  "Mappings": {
  },
  "Resources": {
    "VPC": {
      "Type": "AWS::EC2::VPC",
      "Properties": {
        "CidrBlock": "10.0.0.0/16",
        "Tags": [
          {
            "Key": "Application",
            "Value": {
              "Ref": "AWS::StackName"
            }
          },
          {
            "Key": "Name",
            "Value": {
              "Ref": "AWS::StackName"
            }
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "f7a95dec-24f7-4bd1-a6aa-b06a1b858eb6"
        }
      }
    },
    "Subnet": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "VpcId": {
          "Ref": "VPC"
        },
        "CidrBlock": "10.0.0.0/24",
        "Tags": [
          {
            "Key": "Swarm",
            "Value": {
              "Ref": "AWS::StackId"
            }
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "79532a3b-2b19-4d32-972a-03d549d4c273"
        }
      }
    },
    "InternetGateway": {
      "Type": "AWS::EC2::InternetGateway",
      "Properties": {
        "Tags": [
          {
            "Key": "Application",
            "Value": {
              "Ref": "AWS::StackId"
            }
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "dc8637f5-b7e3-4e8f-93d8-a9488b85e302"
        }
      }
    },
    "AttachGateway": {
      "Type": "AWS::EC2::VPCGatewayAttachment",
      "Properties": {
        "VpcId": {
          "Ref": "VPC"
        },
        "InternetGatewayId": {
          "Ref": "InternetGateway"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "e8bddf72-0ac5-4aad-8f1c-09e6cb90b368"
        }
      }
    },
    "RouteTable": {
      "Type": "AWS::EC2::RouteTable",
      "Properties": {
        "VpcId": {
          "Ref": "VPC"
        },
        "Tags": [
          {
            "Key": "Application",
            "Value": {
              "Ref": "AWS::StackId"
            }
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "489ef81b-843c-45d2-85c3-fde60f092ef5"
        }
      }
    },
    "Route": {
      "Type": "AWS::EC2::Route",
      "DependsOn": "AttachGateway",
      "Properties": {
        "RouteTableId": {
          "Ref": "RouteTable"
        },
        "DestinationCidrBlock": "0.0.0.0/0",
        "GatewayId": {
          "Ref": "InternetGateway"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "0f3746f7-8101-4a56-8bcd-b95ca51d1eaa"
        }
      }
    },
    "SubnetRouteTableAssociation": {
      "Type": "AWS::EC2::SubnetRouteTableAssociation",
      "Properties": {
        "SubnetId": {
          "Ref": "Subnet"
        },
        "RouteTableId": {
          "Ref": "RouteTable"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "4f4229bf-ae7c-4a67-b634-842d09aa604d"
        }
      }
    },
    "NetworkAcl": {
      "Type": "AWS::EC2::NetworkAcl",
      "Properties": {
        "VpcId": {
          "Ref": "VPC"
        },
        "Tags": [
          {
            "Key": "Application",
            "Value": {
              "Ref": "AWS::StackId"
            }
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "d94e48a6-0e78-4dc1-bdea-023fd38faa78"
        }
      }
    },
    "InboundSSHNetworkAclEntry": {
      "Type": "AWS::EC2::NetworkAclEntry",
      "Properties": {
        "NetworkAclId": {
          "Ref": "NetworkAcl"
        },
        "RuleNumber": "101",
        "Protocol": "6",
        "RuleAction": "allow",
        "Egress": "false",
        "CidrBlock": "0.0.0.0/0",
        "PortRange": {
          "From": "22",
          "To": "22"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "61c4f89e-d17c-4678-bd9e-d59adb924090"
        }
      }
    },
    "InboundResponsePortsNetworkAclEntry": {
      "Type": "AWS::EC2::NetworkAclEntry",
      "Properties": {
        "NetworkAclId": {
          "Ref": "NetworkAcl"
        },
        "RuleNumber": "102",
        "Protocol": "6",
        "RuleAction": "allow",
        "Egress": "false",
        "CidrBlock": "0.0.0.0/0",
        "PortRange": {
          "From": "1024",
          "To": "65535"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "65d96b24-b5cf-4931-8f3f-f6faf7998c01"
        }
      }
    },
    "OutBoundResponsePortsNetworkAclEntry": {
      "Type": "AWS::EC2::NetworkAclEntry",
      "Properties": {
        "NetworkAclId": {
          "Ref": "NetworkAcl"
        },
        "RuleNumber": "102",
        "Protocol": "-1",
        "RuleAction": "allow",
        "Egress": "true",
        "CidrBlock": "0.0.0.0/0"
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "0476859a-84fa-476d-b379-0b2d93836142"
        }
      }
    },
    "SubnetNetworkAclAssociation": {
      "Type": "AWS::EC2::SubnetNetworkAclAssociation",
      "Properties": {
        "SubnetId": {
          "Ref": "Subnet"
        },
        "NetworkAclId": {
          "Ref": "NetworkAcl"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "a5c5fb18-7deb-40e0-bea0-37d9fd31d659"
        }
      }
    },
    "InstanceSecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "VpcId": {
          "Ref": "VPC"
        },
        "GroupDescription": "Docker Swarm Demo",
        "SecurityGroupEgress": [
          {
            "IpProtocol": "-1",
            "CidrIp": "0.0.0.0/0"
          }
        ],
        "SecurityGroupIngress": [
          {
            "IpProtocol": "tcp",
            "FromPort": "2377",
            "ToPort": "2377",
            "CidrIp": "10.0.0.0/24"
          },
          {
            "IpProtocol": "tcp",
            "FromPort": "4789",
            "ToPort": "4789",
            "CidrIp": "10.0.0.0/16"
          },
          {
            "IpProtocol": "tcp",
            "FromPort": "22",
            "ToPort": "22",
            "CidrIp": "0.0.0.0/0"
          },
          {
            "IpProtocol": "tcp",
            "FromPort": "5000",
            "ToPort": "5000",
            "CidrIp": "0.0.0.0/0"
          },
          {
            "IpProtocol": "tcp",
            "FromPort": "5001",
            "ToPort": "5001",
            "CidrIp": "0.0.0.0/0"
          },
          {
            "IpProtocol": "udp",
            "FromPort": "7946",
            "ToPort": "7946",
            "CidrIp": "10.0.0.0/16"
          },
          {
            "IpProtocol": "tcp",
            "FromPort": "7946",
            "ToPort": "7946",
            "CidrIp": "10.0.0.0/16"
          },
          {
            "IpProtocol": "udp",
            "FromPort": "2049",
            "ToPort": "2049",
            "CidrIp": "10.0.0.0/16"
          },
          {
            "IpProtocol": "tcp",
            "FromPort": "111",
            "ToPort": "111",
            "CidrIp": "10.0.0.0/16"
          },
          {
            "IpProtocol": "udp",
            "FromPort": "4789",
            "ToPort": "4789",
            "CidrIp": "10.0.0.0/16"
          },
          {
            "IpProtocol": "udp",
            "FromPort": "111",
            "ToPort": "111",
            "CidrIp": "10.0.0.0/16"
          },
          {
            "IpProtocol": "tcp",
            "FromPort": "2049",
            "ToPort": "2049",
            "CidrIp": "10.0.0.0/16"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "592a6e2e-a61c-4ced-9b97-84235a5fe8e3"
        }
      }
    },
    "SwarmLordInstance": {
      "Type": "AWS::EC2::Instance",
      "Metadata": {
        "Comment": "Install a Docker Swarm initial master",
        "AWS::CloudFormation::Designer": {
          "id": "de3b3559-e774-4a41-ba45-99338ab0315a"
        }
      },
      "Properties": {
        "Monitoring": "false",
        "ImageId": "ami-7abd0209",
        "InstanceType": "t2.micro",
        "KeyName": {
          "Ref": "KeyName"
        },
        "Tags": [
          {
            "Key": "Name",
            "Value": {
              "Fn::Join": [
                "",
                [
                  {
                    "Ref": "AWS::StackName"
                  },
                  "-",
                  "Lord"
                ]
              ]
            }
          }
        ],
        "UserData": {
          "Fn::Base64": {
            "Fn::Join": [
              "",
              [
                "#!/bin/sh\n",
                "curl -sSL https://experimental.docker.com | sh\n",
                "usermod -G docker centos\n",
                "mkdir /tokens\n",
                "echo '/tokens *(ro)' > /etc/exports\n",
                "systemctl enable nfs ; systemctl start nfs\n",
                "systemctl enable docker ; systemctl start docker\n",
                "docker swarm init\n",
                "echo -n `docker swarm join-token -q worker` > /tokens/worker\n",
                "echo -n `docker swarm join-token -q manager` > /tokens/manager\n"
              ]
            ]
          }
        },
        "NetworkInterfaces": [
          {
            "DeleteOnTermination": "true",
            "Description": "Primary network interface",
            "DeviceIndex": 0,
            "AssociatePublicIpAddress": "true",
            "GroupSet": [
              {
                "Ref": "InstanceSecurityGroup"
              }
            ],
            "SubnetId": {
              "Ref": "Subnet"
            }
          }
        ]
      }
    },
    "NodeLaunchConfiguration": {
      "Type": "AWS::AutoScaling::LaunchConfiguration",
      "Properties": {
        "ImageId": "ami-7abd0209",
        "InstanceType": "t2.micro",
        "KeyName": {
          "Ref": "KeyName"
        },
        "UserData": {
          "Fn::Base64": {
            "Fn::Join": [
              "",
              [
                "#!/bin/sh\n",
                "curl -sSL https://experimental.docker.com | sh\n",
                "usermod -G docker centos\n",
                "mkdir /tokens\n",
                "mount -t nfs ",
                { "Fn::GetAtt" : ["SwarmLordInstance", "PrivateIp"] },
                ":/tokens /tokens\n",
                "systemctl enable docker ; systemctl start docker\n",
                "docker swarm join --token `cat /tokens/worker` ",
                { "Fn::GetAtt" : ["SwarmLordInstance", "PrivateIp"] },
                ":2377\n",
                "umount /tokens\n"
              ]
            ]
          }
        },
        "AssociatePublicIpAddress": "true",
        "SecurityGroups": [
          {
            "Ref": "InstanceSecurityGroup"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "593f7138-e9c3-4200-be94-0f05547a0951"
        }
      }
    },
    "NodeAutoScalingGroup": {
      "Type": "AWS::AutoScaling::AutoScalingGroup",
      "Properties": {
        "VPCZoneIdentifier": [
          {
            "Ref": "Subnet"
          }
        ],
        "LaunchConfigurationName": {
          "Ref": "NodeLaunchConfiguration"
        },
        "MinSize": {
          "Ref": "NumberOfSwarmNodes"
        },
        "MaxSize": "4",
        "Tags": [
          {
            "Key": "Name",
            "Value": {
              "Fn::Join": [
                "",
                [
                  {
                    "Ref": "AWS::StackName"
                  },
                  "-",
                  "Worker"
                ]
              ]
            },
            "PropagateAtLaunch": "true"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "da606599-3278-49f8-bd04-bb4c7a251bfe"
        }
      },
      "DependsOn": [
        "SwarmLordInstance"
      ],
      "UpdatePolicy": {
        "AutoScalingRollingUpdate": {
          "MaxBatchSize": "1",
          "MinInstancesInService": "1",
          "PauseTime": "PT5M",
          "WaitOnResourceSignals": "true"
        }
      }
    },
    "ManagerAutoScaling": {
      "Type": "AWS::AutoScaling::AutoScalingGroup",
      "Properties": {
        "VPCZoneIdentifier": [
          {
            "Ref": "Subnet"
          }
        ],
        "LaunchConfigurationName": {
          "Ref": "ManagerLaunchConfiguration"
        },
        "MinSize": {
          "Ref": "NumberOfSwarmManagers"
        },
        "MaxSize": "4",
        "Tags": [
          {
            "Key": "Name",
            "Value": {
              "Fn::Join": [
                "",
                [
                  {
                    "Ref": "AWS::StackName"
                  },
                  "-",
                  "Manager"
                ]
              ]
            },
            "PropagateAtLaunch": "true"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "54df3969-155c-4994-b7fc-5aea159ccce7"
        }
      },
      "UpdatePolicy": {
        "AutoScalingRollingUpdate": {
          "MaxBatchSize": "1",
          "MinInstancesInService": "1",
          "PauseTime": "PT5M",
          "WaitOnResourceSignals": "true"
        }
      },
      "DependsOn": [
        "SwarmLordInstance"
      ]
    },
    "ManagerLaunchConfiguration": {
      "Type": "AWS::AutoScaling::LaunchConfiguration",
      "Properties": {
        "ImageId": "ami-7abd0209",
        "InstanceType": "t2.micro",
        "KeyName": {
          "Ref": "KeyName"
        },
        "UserData": {
          "Fn::Base64": {
            "Fn::Join": [
              "",
              [
                "#!/bin/sh\n",
                "curl -sSL https://experimental.docker.com | sh\n",
                "usermod -G docker centos\n",
                "mkdir /tokens\n",
                "mount -t nfs ",
                { "Fn::GetAtt" : ["SwarmLordInstance", "PrivateIp"] },
                ":/tokens /tokens\n",
                "systemctl enable docker ; systemctl start docker\n",
                "docker swarm join --token `cat /tokens/manager` ",
                { "Fn::GetAtt" : ["SwarmLordInstance", "PrivateIp"] },
                ":2377\n",
                "umount /tokens\n"
              ]
            ]
          }
        },
        "AssociatePublicIpAddress": "true",
        "SecurityGroups": [
          {
            "Ref": "InstanceSecurityGroup"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "1ecd7a3e-2ff7-4261-bf7b-d0858ee3e378"
        }
      }
    }
  },
  "Outputs": {
  },
  "Metadata": {
    "AWS::CloudFormation::Interface": {
      "ParameterGroups": [
        {
          "Label": {
            "default": "Swarm Cluster Configuration"
          },
          "Parameters": [
            "NumberOfSwarmManagers",
            "NumberOfSwarmNodes"
          ]
        }
      ],
      "ParameterLabels": {
        "NumberOfSwarmManagers": {
          "default": "Number of additional Swarm Managers to deploy: "
        },
        "NumberOfSwarmNodes": {
          "default": "Number of Swarm worker Nodes to deploy: "
        },
        "KeyName": {
          "default": "Name of SSH key pair to use on instances: "
        }
      }
    },
    "AWS::CloudFormation::Designer": {
      "dc8637f5-b7e3-4e8f-93d8-a9488b85e302": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 300,
          "y": 520
        },
        "z": 1,
        "embeds": []
      },
      "f7a95dec-24f7-4bd1-a6aa-b06a1b858eb6": {
        "size": {
          "width": 780,
          "height": 690
        },
        "position": {
          "x": 60,
          "y": -200
        },
        "z": 1,
        "embeds": [
          "592a6e2e-a61c-4ced-9b97-84235a5fe8e3",
          "d94e48a6-0e78-4dc1-bdea-023fd38faa78",
          "489ef81b-843c-45d2-85c3-fde60f092ef5",
          "79532a3b-2b19-4d32-972a-03d549d4c273"
        ]
      },
      "592a6e2e-a61c-4ced-9b97-84235a5fe8e3": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 200,
          "y": 40
        },
        "z": 2,
        "parent": "f7a95dec-24f7-4bd1-a6aa-b06a1b858eb6",
        "embeds": []
      },
      "d94e48a6-0e78-4dc1-bdea-023fd38faa78": {
        "size": {
          "width": 320,
          "height": 130
        },
        "position": {
          "x": 90,
          "y": -110
        },
        "z": 2,
        "parent": "f7a95dec-24f7-4bd1-a6aa-b06a1b858eb6",
        "embeds": [
          "0476859a-84fa-476d-b379-0b2d93836142",
          "65d96b24-b5cf-4931-8f3f-f6faf7998c01",
          "61c4f89e-d17c-4678-bd9e-d59adb924090"
        ]
      },
      "0476859a-84fa-476d-b379-0b2d93836142": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 110,
          "y": -80
        },
        "z": 3,
        "parent": "d94e48a6-0e78-4dc1-bdea-023fd38faa78",
        "embeds": []
      },
      "65d96b24-b5cf-4931-8f3f-f6faf7998c01": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 290,
          "y": -80
        },
        "z": 3,
        "parent": "d94e48a6-0e78-4dc1-bdea-023fd38faa78",
        "embeds": []
      },
      "61c4f89e-d17c-4678-bd9e-d59adb924090": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 200,
          "y": -80
        },
        "z": 3,
        "parent": "d94e48a6-0e78-4dc1-bdea-023fd38faa78",
        "embeds": []
      },
      "489ef81b-843c-45d2-85c3-fde60f092ef5": {
        "size": {
          "width": 240,
          "height": 240
        },
        "position": {
          "x": 480,
          "y": 160
        },
        "z": 2,
        "parent": "f7a95dec-24f7-4bd1-a6aa-b06a1b858eb6",
        "embeds": [
          "0f3746f7-8101-4a56-8bcd-b95ca51d1eaa"
        ]
      },
      "e8bddf72-0ac5-4aad-8f1c-09e6cb90b368": {
        "source": {
          "id": "dc8637f5-b7e3-4e8f-93d8-a9488b85e302"
        },
        "target": {
          "id": "f7a95dec-24f7-4bd1-a6aa-b06a1b858eb6"
        },
        "z": 1
      },
      "0f3746f7-8101-4a56-8bcd-b95ca51d1eaa": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 510,
          "y": 220
        },
        "z": 3,
        "parent": "489ef81b-843c-45d2-85c3-fde60f092ef5",
        "embeds": [],
        "references": [
          "dc8637f5-b7e3-4e8f-93d8-a9488b85e302"
        ],
        "dependson": [
          "e8bddf72-0ac5-4aad-8f1c-09e6cb90b368"
        ]
      },
      "79532a3b-2b19-4d32-972a-03d549d4c273": {
        "size": {
          "width": 360,
          "height": 240
        },
        "position": {
          "x": 450,
          "y": -130
        },
        "z": 2,
        "parent": "f7a95dec-24f7-4bd1-a6aa-b06a1b858eb6",
        "embeds": [
          "1ecd7a3e-2ff7-4261-bf7b-d0858ee3e378",
          "593f7138-e9c3-4200-be94-0f05547a0951",
          "de3b3559-e774-4a41-ba45-99338ab0315a",
          "54df3969-155c-4994-b7fc-5aea159ccce7",
          "da606599-3278-49f8-bd04-bb4c7a251bfe"
        ]
      },
      "de3b3559-e774-4a41-ba45-99338ab0315a": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 600,
          "y": 40
        },
        "z": 3,
        "parent": "79532a3b-2b19-4d32-972a-03d549d4c273",
        "embeds": [],
        "ismemberof": [
          "592a6e2e-a61c-4ced-9b97-84235a5fe8e3"
        ],
        "isrelatedto": [
          "592a6e2e-a61c-4ced-9b97-84235a5fe8e3"
        ]
      },
      "a5c5fb18-7deb-40e0-bea0-37d9fd31d659": {
        "source": {
          "id": "d94e48a6-0e78-4dc1-bdea-023fd38faa78"
        },
        "target": {
          "id": "79532a3b-2b19-4d32-972a-03d549d4c273"
        },
        "z": 2
      },
      "4f4229bf-ae7c-4a67-b634-842d09aa604d": {
        "source": {
          "id": "489ef81b-843c-45d2-85c3-fde60f092ef5"
        },
        "target": {
          "id": "79532a3b-2b19-4d32-972a-03d549d4c273"
        },
        "z": 2
      },
      "da606599-3278-49f8-bd04-bb4c7a251bfe": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 650,
          "y": -100
        },
        "z": 3,
        "parent": "79532a3b-2b19-4d32-972a-03d549d4c273",
        "embeds": [],
        "isconnectedto": [
          "79532a3b-2b19-4d32-972a-03d549d4c273"
        ],
        "isassociatedwith": [
          "593f7138-e9c3-4200-be94-0f05547a0951"
        ],
        "dependson": [
          "de3b3559-e774-4a41-ba45-99338ab0315a"
        ]
      },
      "593f7138-e9c3-4200-be94-0f05547a0951": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 730,
          "y": -100
        },
        "z": 3,
        "parent": "79532a3b-2b19-4d32-972a-03d549d4c273",
        "embeds": [],
        "ismemberof": [
          "592a6e2e-a61c-4ced-9b97-84235a5fe8e3"
        ],
        "isrelatedto": [
          "592a6e2e-a61c-4ced-9b97-84235a5fe8e3",
          "79532a3b-2b19-4d32-972a-03d549d4c273"
        ]
      },
      "7d6ca4e4-780e-4fb3-9249-cf997c1b9cef": {
        "source": {
          "id": "da606599-3278-49f8-bd04-bb4c7a251bfe"
        },
        "target": {
          "id": "de3b3559-e774-4a41-ba45-99338ab0315a"
        },
        "z": 4
      },
      "8cc22819-5e71-4655-939d-df30613dea82": {
        "source": {
          "id": "593f7138-e9c3-4200-be94-0f05547a0951"
        },
        "target": {
          "id": "592a6e2e-a61c-4ced-9b97-84235a5fe8e3"
        },
        "z": 4
      },
      "54df3969-155c-4994-b7fc-5aea159ccce7": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 570,
          "y": -100
        },
        "z": 3,
        "parent": "79532a3b-2b19-4d32-972a-03d549d4c273",
        "embeds": [],
        "isconnectedto": [
          "79532a3b-2b19-4d32-972a-03d549d4c273"
        ],
        "isassociatedwith": [
          "593f7138-e9c3-4200-be94-0f05547a0951",
          "1ecd7a3e-2ff7-4261-bf7b-d0858ee3e378"
        ],
        "dependson": [
          "de3b3559-e774-4a41-ba45-99338ab0315a"
        ]
      },
      "1ecd7a3e-2ff7-4261-bf7b-d0858ee3e378": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 490,
          "y": -100
        },
        "z": 3,
        "parent": "79532a3b-2b19-4d32-972a-03d549d4c273",
        "embeds": [],
        "ismemberof": [
          "592a6e2e-a61c-4ced-9b97-84235a5fe8e3"
        ]
      },
      "f69604b6-e33c-4f24-a89c-14ced7514994": {
        "source": {
          "id": "54df3969-155c-4994-b7fc-5aea159ccce7"
        },
        "target": {
          "id": "de3b3559-e774-4a41-ba45-99338ab0315a"
        },
        "z": 4
      }
    }
  }
}
