{
  "Parameters": {
    "KeyName": {
      "Description": "Name of an existing EC2 KeyPair to enable SSH access to the instance",
      "Type": "AWS::EC2::KeyPair::KeyName",
      "ConstraintDescription": "must be the name of an existing EC2 KeyPair."
    },
    "NumberOfSwarmNodes": {
      "Description": "Number of Swarm Nodes (default: 1)",
      "Type": "Number",
      "Default": 1,
      "MinValue": 1,
      "MaxValue": 4
    },
    "NumberOfSwarmManagers": {
      "Description": "One Swarm Manager will always exist. This field refers to additional Swarm Managers (default: 0)",
      "Type": "Number",
      "Default": 0,
      "MinValue": 0,
      "MaxValue": 4
    }
  }
}